.bookLibraryTitle {
    font-family: var(--main);
    font-size: 5rem;
    margin-left: 3rem;
}

.bookCon {
    margin-top: 1rem;
}

.bookCon img {
    width: 400px;
    height: 250px;
}

.bookCoverCon {
    width: 400px;
    height: 250px;
}

.smallBookTitle {
    font-family: var(--main);
    font-size: 2rem;
    font-weight:bolder;
    text-align: center;
    text-decoration: underline;
}