@font-face {
    font-family: 'Gentium Book Plus';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/gentiumbookplus/v1/vEFL2-RHBgUK5fbjKxRpbBtJPyRpocKVf7P-rQ.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

@media screen and (max-width: 800px) {
    h1 {
        font-family: 'Gentium Book Plus';
        font-size: 3rem;
    }

    .brothersCon {
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        padding-bottom: 15rem;
    }

    .book {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .bookEgg {
        height: 350px;
        width: 250px;
    }
    
    .clubEgg {
        height: 275px;
        width: 200px;
        top: 370px;
    }
    
    .brothersEgg {
        height: 200px;
        width: 150px;
        top: 430px;
    }

    .bookEgg:hover,
    .clubEgg:hover,
    .brothersEgg:hover {
        background-color: black;
        color: white;
    }
    
    .bookEgg:active,
    .clubEgg:active,
    .brothersEgg:active {
        background-color: black;
        color: white;
    }
}