@media screen and (max-width: 800px) {
    .randomTitle {
        font-family: var(--main);
        font-size: 4rem;
        margin: 0px;
        text-align: center;
    }
    .randomBox {
        aspect-ratio: 1/1.5;
        width: 350px;
    }
    .deleteUnreadButton {
        margin-top: 0px;
    }
}