.bookTitle {
    font-family: var(--main);
    font-size: 5rem;
    margin: 1rem;
}

.bookCover {
    width: 600px;
    height: 400px;
}

.bookTitleCoverCon {
    width: 600px;
    height: 400px;
}

.bookRightCon {
    font-family: var(--main);
    border-width: 2px;
    border-color: black;
    padding: 1.5rem 2rem;
    width: 400px;
}